USE [master]
GO
/****** Object:  Database [BANVEXEKHACH]    Script Date: 19/10/2023 7:32:17 AM ******/
CREATE DATABASE [BANVEXEKHACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANVEXEKHACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANVEXEKHACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANVEXEKHACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANVEXEKHACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANVEXEKHACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANVEXEKHACH]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 19/10/2023 7:32:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKhachHang] [char](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[numberPhone] [char](11) NULL,
	[email] [varchar](40) NULL,
	[userName] [varchar](40) NULL,
	[password] [varchar](20) NULL,
 CONSTRAINT [PK_IDKhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 19/10/2023 7:32:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[IDLoaiXe] [char](10) NOT NULL,
	[soGheNgoi] [int] NULL,
 CONSTRAINT [PK_IDLoaiXe] PRIMARY KEY CLUSTERED 
(
	[IDLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19/10/2023 7:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNhanVien] [char](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[cccd] [varchar](12) NULL,
	[diaChi] [nvarchar](40) NULL,
	[numberPhone] [char](11) NULL,
	[email] [varchar](40) NULL,
	[userName] [varchar](40) NULL,
	[password] [varchar](20) NULL,
	[chucVu] [bit] NOT NULL,
 CONSTRAINT [PK_IDNhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXE]    Script Date: 19/10/2023 7:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXE](
	[IDNhaXe] [char](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[sdt] [char](11) NULL,
	[diaChi] [varchar](50) NULL,
 CONSTRAINT [PK_IDNhaXe] PRIMARY KEY CLUSTERED 
(
	[IDNhaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENXE]    Script Date: 19/10/2023 7:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENXE](
	[IDTuyenXe] [char](10) NOT NULL,
	[IDLoaiXe] [char](10) NOT NULL,
	[IDNhaXe] [char](10) NOT NULL,
	[bienkiemsoat] [varchar](30) NULL,
	[noidi] [nvarchar](40) NULL,
	[noiden] [nvarchar](40) NULL,
	[thoigiankhoihanh] [datetime] NULL,
	[thoigianden] [datetime] NULL,
	[giaVe] [int] NULL,
 CONSTRAINT [PK_IDTuyenXe] PRIMARY KEY CLUSTERED 
(
	[IDTuyenXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEXE]    Script Date: 19/10/2023 7:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEXE](
	[IDVeXe] [char](10) NOT NULL,
	[IDTuyenXe] [char](10) NOT NULL,
	[IDKhachHang] [char](10) NOT NULL,
	[IDNhanVien] [char](10) NOT NULL,
	[thoigianmua] [datetime] NULL,
	[ghe] [int] NULL,
 CONSTRAINT [PK_IDVeXe] PRIMARY KEY CLUSTERED 
(
	[IDVeXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_IDLoaiXe] FOREIGN KEY([IDLoaiXe])
REFERENCES [dbo].[LOAIXE] ([IDLoaiXe])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_IDLoaiXe]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_IDNhaXe] FOREIGN KEY([IDNhaXe])
REFERENCES [dbo].[NHAXE] ([IDNhaXe])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_IDNhaXe]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KHACHHANG] ([IDKhachHang])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_IDKhachHang]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NHANVIEN] ([IDNhanVien])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_IDNhanVien]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_IDTuyenXe] FOREIGN KEY([IDTuyenXe])
REFERENCES [dbo].[TUYENXE] ([IDTuyenXe])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_IDTuyenXe]
GO
USE [master]
GO
