USE [master]
GO
/****** Object:  Database [BANVEXEKHACH]    Script Date: 27/10/2023 8:55:39 PM ******/
CREATE DATABASE [BANVEXEKHACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANVEXEKHACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANVEXEKHACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANVEXEKHACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANVEXEKHACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANVEXEKHACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANVEXEKHACH]
GO
/****** Object:  Table [dbo].[CHUYENXE]    Script Date: 27/10/2023 8:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENXE](
	[IDChuyenXe] [nchar](10) NOT NULL,
	[noidi] [nchar](10) NULL,
	[noiden] [nchar](10) NULL,
	[thoigiankhoihanh] [nchar](10) NULL,
	[thoigianden] [nchar](10) NULL,
	[giave] [nchar](10) NULL,
	[IDTuyenXe] [char](10) NULL,
	[IDXe] [nchar](10) NULL,
	[TenTaiXe] [nvarchar](50) NULL,
	[LuongKhach] [int] NOT NULL,
 CONSTRAINT [PK_CHUYENXE] PRIMARY KEY CLUSTERED 
(
	[IDChuyenXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 27/10/2023 8:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKhachHang] [char](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[CCCD] [varchar](20) NULL,
	[numberPhone] [varchar](20) NULL,
 CONSTRAINT [PK_IDKhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 27/10/2023 8:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNhanVien] [char](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[cccd] [varchar](12) NULL,
	[diaChi] [nvarchar](40) NULL,
	[numberPhone] [char](11) NULL,
	[email] [varchar](40) NULL,
	[userName] [varchar](40) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[chucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IDNhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENXE]    Script Date: 27/10/2023 8:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENXE](
	[noiden] [nchar](10) NULL,
	[noidi] [nchar](10) NULL,
	[IDTuyenXe] [char](10) NOT NULL,
 CONSTRAINT [PK_IDTuyenXe] PRIMARY KEY CLUSTERED 
(
	[IDTuyenXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEXE]    Script Date: 27/10/2023 8:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEXE](
	[IDVeXe] [char](10) NOT NULL,
	[IDKhachHang] [char](10) NOT NULL,
	[IDNhanVien] [char](10) NOT NULL,
	[GheNgoi] [nvarchar](1000) NULL,
	[IDChuyenXe] [nchar](10) NULL,
	[thoigianmua] [datetime] NULL,
 CONSTRAINT [PK_IDVeXe] PRIMARY KEY CLUSTERED 
(
	[IDVeXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 27/10/2023 8:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[IDXe] [nchar](10) NOT NULL,
	[soGhe] [nchar](10) NULL,
	[bienKiemSoat] [nchar](10) NULL,
	[ghe1] [bit] NULL,
	[ghe2] [bit] NULL,
	[ghe3] [bit] NULL,
	[ghe4] [bit] NULL,
	[ghe5] [bit] NULL,
	[ghe6] [bit] NULL,
	[ghe7] [bit] NULL,
	[ghe8] [bit] NULL,
	[ghe9] [bit] NULL,
	[ghe10] [bit] NULL,
	[ghe11] [bit] NULL,
	[ghe12] [bit] NULL,
	[ghe13] [bit] NULL,
	[ghe14] [bit] NULL,
	[ghe15] [bit] NULL,
	[ghe16] [bit] NULL,
	[ghe17] [bit] NULL,
	[ghe18] [bit] NULL,
	[ghe19] [bit] NULL,
	[ghe20] [bit] NULL,
	[ghe21] [bit] NULL,
	[ghe22] [bit] NULL,
	[ghe23] [bit] NULL,
	[ghe24] [bit] NULL,
	[ghe25] [bit] NULL,
	[ghe26] [bit] NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY CLUSTERED 
(
	[IDXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_TUYENXE] FOREIGN KEY([IDTuyenXe])
REFERENCES [dbo].[TUYENXE] ([IDTuyenXe])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_TUYENXE]
GO
ALTER TABLE [dbo].[CHUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENXE_XE] FOREIGN KEY([IDXe])
REFERENCES [dbo].[XE] ([IDXe])
GO
ALTER TABLE [dbo].[CHUYENXE] CHECK CONSTRAINT [FK_CHUYENXE_XE]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KHACHHANG] ([IDKhachHang])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_IDKhachHang]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NHANVIEN] ([IDNhanVien])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_IDNhanVien]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_VEXE_CHUYENXE] FOREIGN KEY([IDChuyenXe])
REFERENCES [dbo].[CHUYENXE] ([IDChuyenXe])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_VEXE_CHUYENXE]
GO
USE [master]
GO
